h3 {
    margin-top: 10px;    
}

iframe {
    display: block;
    width: 95%;
    height: 80%;
    margin: 0 auto;
    background-color: black;
}

a {
   cursor: pointer;
   font-weight: bold;
}

.inline {
   display: inline-block;
}