<!-- Video Browser -->
<div class="col-md-3">
   
   <div ng-if="ec.loading">Loading...</div>
   
   <ul class="list-unstyled" ng-if="!ec.loading">
       <div class="inline" ng-repeat="folder in ec.previousFolders">
          <a ng-click="ec.ac.openFol($index)" ng-if="!element.isFile">{{folder}}</a> &nbsp;/&nbsp;
       </div>
       <div class="inline">
           {{ec.currentFol}}
       </div>
       <hr>
       <li>
          <a ng-click="ec.ac.openPrevious()" ng-if="ec.previousFolders.length"><span class="glyphicon glyphicon-hand-left"></span> Back</a>
       </li>
       <hr>
       <li ng-repeat="element in ec.folderElements | orderBy : element.isFile : true">
           <a ng-click="ec.ac.play(element)" ng-if="element.isFile">{{element.name}}</a>
           <a ng-click="ec.ac.openNext(element)" ng-if="!element.isFile">{{element.name}}</a> 
           <hr>
       </li>
   </ul>

</div>

<!-- Video Player -->
<div ui-view class="col-md-9"></div>